{% extends 'base.html' %}

{% block content %}

<h1>Add a form that when submitted creates a new song!</h1>

<form method="POST">
  {{ form.hidden_tag() }}
  <div class="form-group">
    {{ form.playlist_id.label(class="form-label") }}
    {{ form.playlist_id(class="form-control") }}
  </div>
  <div class="form-group">
    {{ form.song_id.label(class="form-label") }}
    {{ form.song_id(class="form-control") }}
  </div>
  <button type="submit" class="btn btn-primary">Add Song</button>
</form>

{% endblock %}